@charset "EUC-KR";
.btn-default {width:80px;height:40px; font-weight:bold;}

.table>tbody>tr>td{vertical-align: middle;}
.log_in{
	text-align: left;

}
h1 {
	text-align: center;
	font-weight: bold;
}

.container {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-size: 18px;
	text-align: center;
}

.hr_a {
	height: 1px;
	background: #333;
}

.inputBox {
	border-radius: 10px;
	height: 40px;
	width: 300px;
}

.left_bar {
	width: 200px;
	height: 700px;
	background-color: #dfdfdf;
	float: left;
	margin-top: -130px;
}

.left_box {
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
	vertical-align: middle;
}

.logout {
	text-align: center;
	margin: 0 auto;
	margin-top: 300px;
	vertical-align: middle;
}

.right_bar {
	width: 1000px;
	height: 1000px;
	float: left;
	text-align: center;
}

.table {
	margin-top: 30px;
	text-align: center;
}
td{
	vertical-align: center;
}

.content_title {
	height: 40px; background-color : #dfdfdf;
	text-align: center;
	font-weight: bold;
	background-color: #dfdfdf;
}

.title_27{
	font-size: 40px;
}

span {
	font-weight: bold;
	vertical-align: middle;
	padding: 15px 0;
}

.title_25 {
	font-size : 15px;
	font-weight: bold;
	background-color: #dfdfdf;
}

.content {
	font-size: 30px;
	font-weight: bold;
	margin-top: 100px;
	text-align: center;
}


.box {
	width: 600px;
	height: 400px;
	margin: 0 auto;
	border: 1px solid #dfdfdf;
	background-color: #dfdfdf;
}

nav {
	margin-top: 30px;
}

.revise {
	width: 70px;
	height: 35px;
	border-radius: 5px;
	border: 0px;
	font-size: 17px;
}

.add {
	margin-right: 20px;
}

.add_btn {
	width: 120px;
	height: 40px;
	margin-top: 10px;
	margin-right: 85px;
	float: right;
	font-size: 18px;
	border-radius: 5px;
	color: white;
	border: 0px;
}

.button {
	width: 100px;
	height: 40px;
	margin-top: 40px;
	margin-left: 40px;
	font-size: 18px;
	border: 0px;
	border-radius: 5px;
}

.button_26{
	width: 100px;
	height: 40px;
	margin-left : 30px;
	font-size: 18px;
	border: 0px;
	border-radius: 5px;
}
.content{
	font-size: 15px;
}

.button_33 {
	width: 100px;
	height: 40px;
	margin: 0 auto;
	font-size: 18px;
	border: 0px;
	border-radius: 5px;
}

.button_33_box {
	margin: 50px auto;
}

.title_btn {
	font-size : 15px; 
	background-color: #dfdfdf;
	font-weight: bold; 
	width : 120px; 
	height : 50px;
} 

